.intro
{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}
.i-left
{
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    gap: 2rem;

    
}
.i-name
{
    display: flex;
    flex-direction: column;
}
.i-name>:nth-child(1)
{
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(2)
{
    color:var(--orange);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(3)
{
    font-size: 14px;
    font-weight: 100;
    color: var(--gray);
    margin-top: 10px;
}
.i-button
{
    width: 8rem;
    height: 2.5rem;
}
.i-icons
{
    display: flex;
    gap: 0rem;
    margin-top: 3rem;
}
.i-icons>*
{
    transform: scale(0.5);
    cursor: pointer;
}
.i-right
{
    display: flex;
    flex: 1;
    position: relative;
}
.i-right>*
{
    position: absolute;
    z-index: 1;
}
.i-right>:nth-child(1)
{
    transform: scale(0.69);
    left: -15%;
    top:-9%
}
.i-right>:nth-child(2)
{
    top: -4.6rem;
    transform: scale(0.67);
    left: -3rem;
}
.i-right>:nth-child(3)
{
    transform: scale(1.4);
    left: 28%;
}
.i-right>:nth-child(4)
{
    transform: scale(0.6);
    top: -19%;
    left: -18%;
    border-radius: 50%;
    padding: 0;
} 
.floatingdiv-crown
{
    /* top: 0%; */
    left: 62%;
    
}
.floatingdiv-Thumb
{
    top: 21rem;
    left: 2rem;
}
.blur1
{
    width: 22rem;
    height: 14rem;
    top: -18%;
    left:56%;
    background: rgb(238 210 255);
}
.blur2
{
    background: #c1f5ff;
    width: 21rem;
    height: 11rem;
    top: 17rem;
    left: -9rem;
   
}
.blur
{
    position: absolute;
    z-index: -9;
    filter: blur(72px);
    border-radius: 50%;
}
@media screen and (max-width:480px)
{
    .intro
    {
        flex-direction: column;
        height: 64rem;
        gap: 7rem;
    }
    .i-right
    {
        transform: scale(0.6);
        left: -3rem;
    }
    .i-right .blur
    {
        display: none;
    }
    .floatingdiv-crown
    {
        top: -7rem !important;
    }
    .i-icons 
    {
       transform: scale(0.7);
      
    }
    .i-name>:nth-child(1)
    {
        font-size: 2.5rem;
    }
    .i-name>:nth-child(2)
    {
        font-size: 2.5rem;

    }
    .i-name>:nth-child(3)
    {
        font-size: 13px;
    }
}
@media screen and (max-width:676px)
{
    .intro
    {
        flex-direction: column;
        height: 68rem;
        gap: 7rem;
        margin-bottom: 8rem;
    }

}

@media screen and (max-width:991px)
{
    .intro
    {
        flex-direction: column;
        height: 68rem;
        gap: 7rem;
        margin-bottom: 8rem;
    }

}
